name: "c-cpp"

on:
  push:
    branches: "main"
  pull_request:
    branches: "*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install deps
      run: |
          sudo make install-deps
          make /opt/wasi-sdk
          make tinygo
    - name: Cache
      uses: actions/cache@v3.3.0
      with:
        path: |
          Makefile
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: get submodule
      run:  git submodule update --init --recursive
    - name: make
      run: make -C runtime/cpp
    - name: make build-lib
      run: make -C runtime/cpp build-lib
    - name: examples with cpp runtime
      run: IMPL=cpp  make -C examples
    - name: make test
      run: make -C runtime/cpp test
    - name: Upload build result
      uses: actions/upload-artifact@v2.3.1
      with:
        path: "wasm-bpf"
