name: Ubuntu

on:
  push:
    branches: "main"
  pull_request:
    branches: "*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: get submodule
      run:  git submodule update --init --recursive
    - name: install deps
      run: |
          sudo make -C runtime/cpp install-deps
           make -C runtime/cpp /opt/wasi-sdk
    - name: make
      run: make -C runtime/cpp
    - name: make build-lib
      run: make -C runtime/cpp build-lib
    - name: make test
      run: make -C runtime/cpp test
    - name: Build wasm-bpf
      run: make build-cpp
    - name: Upload build result
      uses: actions/upload-artifact@v2.3.1
      with:
        path: "wasm-bpf"