name: "c-cpp"

on:
  push:
    branches: "main"
  pull_request:
    branches: "*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: get submodule
      run:  git submodule update --init --recursive
    - name: install deps
      run: |
          sudo make install-deps
          make /opt/wasi-sdk
          wget https://github.com/tinygo-org/tinygo/releases/download/v0.27.0/tinygo_0.27.0_amd64.deb
          sudo dpkg -i tinygo_0.27.0_amd64.deb
    - name: make
      run: make -C runtime/cpp
    - name: make build-lib
      run: make -C runtime/cpp build-lib
    - name: examples with cpp runtime
      run: IMPL=cpp  make -C examples
    - name: make test
      run: make -C runtime/cpp test
    - name: Upload build result
      uses: actions/upload-artifact@v2.3.1
      with:
        path: "wasm-bpf"