name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo make install-deps
    - name: Build
      run: make build-rust
    - name: Upload build result
      uses: actions/upload-artifact@v2.3.1
      with:
        path: "wasm-bpf-rs"