name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: get submodule
      run:  git submodule update --init --recursive
    - name: Install dependencies
      run: |
          sudo make install-deps
          make /opt/wasi-sdk
          wget https://github.com/tinygo-org/tinygo/releases/download/v0.27.0/tinygo_0.27.0_amd64.deb
          sudo dpkg -i tinygo_0.27.0_amd64.deb
    - name: Build
      run: make build-rust
    - name: test wasm-bpf-rs
      run:  cd runtime/wasm-bpf-rs && make test
    - name: Upload analysis results to GitHub
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: runtime/wasm-bpf-rs/rust-clippy-results.sarif
        wait-for-processing: true

    - name: Code coverage using Codecov
      run: bash <(curl -s https://codecov.io/bash)
    - name: examples with rust runtime
      run: IMPL=rust make -C examples
    - name: Upload build result
      uses: actions/upload-artifact@v2.3.1
      with:
        path: "wasm-bpf-rs"